# Catmoji Color Emoji Font
Catmoji.ttf @catmoji
# EmojiOne Color Emoji Font
EmojiOneMozilla.ttf @mozilla @joypixels
# Noto Emoji BnW Font
NotoEmoji-16.0.ttf @googlefonts
# TwemojiMozilla Color Emoji Font
TwemojiMozilla.ttf @mozilla @twitter
# Twitter Color Emoji Font
TwitterColorEmoji-SVGinOT.ttf @13rac1 @twitter @jdecked
# Segoe UI Color Emoji Font W10
Win10SegoeUIEMoji.ttf @microsoft
